@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>
</div>
